.marquee-container {
  display: flex;
  overflow: hidden;
  mask: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.marquee-container-reverse {
  display: flex;
  overflow: hidden;
  mask: linear-gradient(
    to right,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.marquee {
  flex-shrink: 0;
  display: flex;
  gap: 2rem;
  min-width: 100%;
  animation: marquee 40s linear infinite;
}

.marquee-reverse {
  flex-shrink: 0;
  display: flex;
  gap: 2rem;
  min-width: 100%;
  animation: marquee-reverse 40s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 2rem));
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(calc(-100% - 2rem));
  }
  100% {
    transform: translateX(0);
  }
}