.summaryhead {
  position: relative;
  height: 70vh;
  background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1709626733/QubicGen/workaholic-businesswoman-pointing-financial-strategy-using-monitor-working-overtime-company-meeting-office-room_482257-2175_gpqswy.jpg");background-position: center;
background-size: cover;
}
.summaryhead::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

#summarytit{
  z-index: 5;
  color: white;
  position: absolute;
  /* top: 200px;
  left: 20%;
  transform: translate(-50%, -50%); */
  font-size: 40px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

#summarydesc{
  z-index: 5;
  color: white;
  position: absolute;
  /* top: 18%;
  left: 29%;
  transform: translate(-50%, -50%); */
  font-weight: 300;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}



@media (min-width: 320px) and (max-width: 590px) {
#summarytit{
font-size: 20px;
position: absolute;
/* top:55%;

left: 40%; */
}

#summarydesc{
font-size: 12px;
margin-top: 60px;
/* top: 37%;
left: 30%; */
}
.summaryhead {
position: relative;
height: 50vh;
background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1709626733/QubicGen/workaholic-businesswoman-pointing-financial-strategy-using-monitor-working-overtime-company-meeting-office-room_482257-2175_gpqswy.jpg");}
@media (min-width: 501px) and (max-width: 768px) {
#summarytit{
font-size: 25px;
position: absolute;

/* left: 32%; */
}

#summarydesc{
font-size: 12px;
/* top: 20%;
left: 32%; */
}
.summaryhead {
position: relative;
height: 40vh;
background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1709626733/QubicGen/workaholic-businesswoman-pointing-financial-strategy-using-monitor-working-overtime-company-meeting-office-room_482257-2175_gpqswy.jpg");background-position: center;
}
}
@media (min-width: 770px) and (max-width: 1024px) {
#summarytit{
font-size: 25px;
position: absolute;

/* left: 32%; */
}

#summarydesc{
font-size: 12px;
/* top: 20%;
left: 32%; */
}
.summaryhead {
position: relative;
height: 40vh;
background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1709626733/QubicGen/workaholic-businesswoman-pointing-financial-strategy-using-monitor-working-overtime-company-meeting-office-room_482257-2175_gpqswy.jpg");}
}
}
  /* This is offering cards css */
  #offeringscards {
    transition: transform 0.3s ease-in-out;

  }
  
  #offeringscards:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 10px gold; /* Example: Add box shadow on hover */
    opacity: 0.9; /* Example: Reduce opacity on hover */ 
   }


  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px gold; /* Example: Add box shadow on hover */

  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1709625023/QubicGen/smart-industry-robot-arms-digital-factory-production-technology_31965-8218_tv05go.jpg");
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;  
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #242424;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #242424;
    border-radius: 10px;
    justify-content: center;
    font-size: 13px;
    transform: rotateY(180deg);
  }
  
 
.banklist nav li {
    color: white;
    list-style-type: none;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.banklist nav li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.banklist nav li:hover {
    color: gold;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;

}



.banklist nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 24px;
    background-color: black;
}

#leadtext{
    font-size: 8px;
    padding: 20px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/* Bankserve starts */

.banklist li{
    list-style-type: none;
    font-size: 10px;
    margin-top: 30px;
    
}
.banklist li p{
    list-style-type: none;
    font-size: 30px;
    margin-top: 20px;
    
}

.banklist{
    justify-content: space-evenly;
}


/* This is banklist nav */
.summary-main-list nav li {
  color: white;
  list-style-type: none;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.summary-main-list nav li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.summary-main-list nav li:hover {
  color: gold;
  transform: scale(1.3);
}

.summary-main-list nav li:hover::after {
  transform: scaleX(1);
  background-color: gold;
}

.summary-main-list nav {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px 24px;
  background-color: black;
}

#leadtext {
  font-size: 16px;
  padding: 20px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}

.summary-main-list li {
  list-style-type: none;
  font-size: 30px;
  margin-top: 30px;
  transition: transform 0.3s ease-in-out;
}

.summary-main-list li:hover {
  transform: scale(1.1);
}

.summary-main-list li p {
  list-style-type: none;
  font-size: 30px;
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.summary-main-list {
  justify-content: space-evenly;
}

/* Bankserve ends */






@media (max-width:600px) {
    .summary-main-list{
        display: none;
    }
  
    
    
}




@media (max-width:768px) {
    .banklist nav li img {
        height: 30px;
    }
    .banklist nav li p{
        list-style-type: none;
        font-size: 10px;
        margin-top: 20px;
        
    }
    #summaryprod p{
        font-size: 10px;
        padding: 10px;

    }
    .summary-main-list nav li{
       font-size: 10px;
    }
  
    
    
}

@media (min-width:768px) and (max-width:1024px){
    .banklist nav li {
        color: white;
        list-style-type: none;
        font-weight: 600;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        position: relative;
        transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
    }

    #leadtext{
        font-size: 5px;
    }
    

}

.card p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.card p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: gold;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: block;
  position: relative;
  max-width: 262px;
  background-color: black;
  border-radius: 4px;
  padding: 19px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 300px;
  width: 400px;
}

.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: gold;
  height: 40px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card1:hover:before {
  transform: scale(21);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}

.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #fff;
}

.card2 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #ccc;
  background-color: white;
}

.card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(2);
  transform-origin: 50% 50%;
  transition: transform 0.15s ease-out;
}

.card2:hover:before {
  transform: scale(2.15);
}

.card3 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #f2f8f9;
}

.card3 .go-corner {
  opacity: 0.7;
}

.card3:hover {
  border: 1px solid #00838d;
  box-shadow: 0px 0px 999px 999px rgba(255, 255, 255, 0.5);
  z-index: 500;
}

.card3:hover p {
  color: #00838d;
}

.card3:hover .go-corner {
  transition: opactiy 0.3s linear;
  opacity: 1;
}

.card4 {
  display: block;
  top: 0px;
  position: relative;
  max-width: 262px;
  background-color: #fff;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

.card4 .go-corner {
  background-color: #00838d;
  height: 100%;
  width: 16px;
  padding-right: 9px;
  border-radius: 0;
  transform: skew(6deg);
  margin-right: -36px;
  align-items: start;
  background-image: linear-gradient(-45deg, #8f479a 1%, #dc2a74 100%);
}

.card4 .go-arrow {
  transform: skew(-6deg);
  margin-left: -2px;
  margin-top: 9px;
  opacity: 0;
}

.card4:hover {
  border: 1px solid #cd3d73;
}

.card4 h3 {
  margin-top: 8px;
}

.card4:hover .go-corner {
  margin-right: -12px;
}

.card4:hover .go-arrow {
  opacity: 1;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-90deg);
  -ms-transform: rotatey(-90deg);
  transform: rotatey(-90deg);
}

p {
  font-size: 12px;
  font-weight: bolder;
}

