.rpahead {
  position: relative;
  height: 70vh;
  background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1708941767/QubicGen/robot-hand-3d-background-presenting-technology-gesture_1_rxluns.jpg");  
  background-position: bottom;
background-size: cover;
}
.rpahead::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

#rpatit{
  z-index: 5;
  color: white;
  position: absolute;
  /* top: 200px;
  left: 20%;
  transform: translate(-50%, -50%); */
  font-size: 40px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

#rpadesc{
  z-index: 5;
  color: white;
  position: absolute;
  /* top: 18%;
  left: 29%;
  transform: translate(-50%, -50%); */
  font-weight: 300;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}



@media (min-width: 320px) and (max-width: 590px) {
#rpatit{
font-size: 20px;
position: absolute;

}

#rpadesc{
font-size: 12px;
/* top: 37%;
left: 30%; */
}
.rpahead {
position: relative;
height: 80vh;
background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1708941767/QubicGen/robot-hand-3d-background-presenting-technology-gesture_1_rxluns.jpg");}


}
@media (min-width: 501px) and (max-width: 768px) {
#rpatit{
font-size: 25px;
position: absolute;

/* left: 32%; */
}

#rpadesc{
font-size: 12px;
/* top: 20%;
left: 32%; */
}
.rpahead {
position: relative;
height: 70vh;
background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1708941767/QubicGen/robot-hand-3d-background-presenting-technology-gesture_1_rxluns.jpg");background-position: center;
}
}

@media (min-width: 770px) and (max-width: 1350px) {
#rpatit{
font-size: 30px;
position: absolute;

/* left: 32%; */
}

#rpadesc{
font-size: 19px;

}
.rpahead {
position: relative;
height: 70vh;
background-image: url("https://res.cloudinary.com/defsu5bfc/image/upload/v1708941767/QubicGen/robot-hand-3d-background-presenting-technology-gesture_1_rxluns.jpg");}
}

  /* This is offering cards css */
  #offeringscards {
    transition: transform 0.3s ease-in-out;

  }
  
  #offeringscards:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 10px gold; /* Example: Add box shadow on hover */
    opacity: 0.9; /* Example: Reduce opacity on hover */ 
   }

   .card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    background-color: #242424;

  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px gold; /* Example: Add box shadow on hover */

  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background : url("https://images.unsplash.com/photo-1589225643300-fbfd24356bc9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHJwYXxlbnwwfHwwfHx8MA%3D%3D");
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;  
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #242424;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #242424;
    border-radius: 10px;
    justify-content: center;
    font-size: 13px;
    transform: rotateY(180deg);
  } #offeringscards {
    transition: transform 0.3s ease-in-out;

  }
  
  #offeringscards:hover {
    transform: scale(1.06);
    box-shadow: 0px 0px 10px gold; /* Example: Add box shadow on hover */
    opacity: 0.9; /* Example: Reduce opacity on hover */ 
   }

   .card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    background-color: #242424;

  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px gold; /* Example: Add box shadow on hover */

  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front {
    background : url("https://images.unsplash.com/photo-1589225643300-fbfd24356bc9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHJwYXxlbnwwfHwwfHx8MA%3D%3D");
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 24px;  
    transform: rotateY(0deg);
  }
  
  .card-back {
    background-color: #242424;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #242424;
    border-radius: 10px;
    justify-content: center;
    font-size: 13px;
    transform: rotateY(180deg);
  }